<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Puzzle</title>
    <link rel="stylesheet" href="puzzle.css">
</head>
<body>
<div class="puzzleContainer">
</div>

<div class="contextMenu">
    <div class="buttonGroup">
        <div class="menuButton">1</div>
        <div class="menuButton">2</div>
        <div class="menuButton">3</div>
        <div class="menuButton">4</div>
        <div class="menuButton">5</div>
    </div>
    <div class="menuButton btnDeleteBorders">Удалить границы</div>
    <div class="menuButton">Оригинал</div>
    <div class="menuButton">Пункт 3</div>
    <div class="menuButton">И так далее</div>
</div>

<script src="jquery-3.6.0.js" type="text/javascript"></script>
<script src="puzzle.js" type="text/javascript"></script>
</body>
</html>