<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Detail</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container hideCursor">
    <div class="item">
    </div>

    <div class="menu-container top">
        <div class="menu file-info">
            <div class="menu__item number">1 / 500</div>
            <div class="menu__split"></div>
            <div class="menu__item name">name</div>
            <div class="menu__split"></div>
            <div class="menu__item size">500 x 500</div>
            <div class="menu__split"></div>
            <div class="menu__item explorer">open in explorer</div>
        </div>
    </div>

    <div class="menu-container bottom hidden">
        <div class="menu video-controls">
            <div class="menu__item time">00:00</div>
            <div class="menu__item timeline">
                <div class="timeline__point"></div>
            </div>
            <div class="menu__item duration">12:56</div>
        </div>
    </div>
</div>

<script src="renderer.js" type="module"></script>
</body>
</html>