<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Detail</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container hideCursor">
    <div class="item">
    </div>

    <div class="menu-container">
        <div class="menu">
            <div class="menu__item js-menu-number">1 / 500</div>
            <div class="menu__split"></div>
            <div class="menu__item js-menu-name">name</div>
            <div class="menu__split"></div>
            <div class="menu__item js-menu-size">500 x 500</div>
            <div class="menu__split"></div>
            <div class="menu__item btn js-menu-explorer">open in explorer</div>
        </div>
    </div>
</div>

<script src="renderer.js" type="module"></script>
</body>
</html>