html {
	user-select: none;
}

body {
    width: 100%;
    background: black !important;
    height: 100vh;
    margin: 0;

    font-family: system-ui;
    --border-radius-l: 0;
    --border-radius-m: 0;
    --border-radius-s: 0;
}

body.border-rounded {
    --border-radius-l: 10px;
    --border-radius-m: 6px;
    --border-radius-s: 4px;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.container.hideCursor {
    cursor: none;
}

.item {
    width: 100%;
    height: 100%;
}

.item img, .item video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

html ::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.menu-container {
    position: absolute;
    left: 0;
    width: 100%;
}
.menu-container.top {
    top: 0;
}

.menu-container:hover {
    cursor: auto;
}

.menu {
    display: flex;
    width: fit-content;
    margin: 10px auto;
    padding: 10px 0;
    background: rgba(37, 37, 37, 0.78);
    backdrop-filter: blur(18px);
    box-shadow: 0 0 20px 10px #00000045;
    border-radius: var(--border-radius-l);
    opacity: 0;
    transition: opacity 500ms;
}
.menu-container:hover .menu {
    opacity: 1;
}

.menu__item {
    color: var(--text-color);
    margin: 0 15px;
}
.menu__item.btn {
    padding: 0 11px 3px;
    background-color: rgb(92 92 92 / 43%);
    border-radius: var(--border-radius-s);
    cursor: pointer;
}
.menu__item.btn:hover {
    color: var(--text-color-accent);
}
.menu__split {
    background: rgb(89 89 89 / 48%);
    width: 2px;
    border-radius: var(--border-radius-s);
    margin: 2px 0;
}





.menu-container.bottom {
    bottom: 0;
}
.menu-container.bottom.hidden {
    display: none;
}
.video-controls {
    width: calc(100% - 20px);
}

.video-controls .timeline {
    width: 100%;
    background: #ffffff1c;
    height: 4px;
    align-self: center;
    position: relative;
    transition: height 500ms;
    cursor: pointer;
}

.video-controls .timeline:hover {
    height: 10px;
}

.video-controls .timeline__point {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
}