<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Explorer</title>
    <link rel="stylesheet" href="../assets/css/window.css">
    <link rel="stylesheet" href="../assets/css/tools.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="header --show-menu">
    <div class="dir-path-container">
        <div class="dir-path">
        </div>
    </div>
    <div class="header__drag_area">
    </div>
</div>

<div class="window">
    <div class="content">
        <div class="background"></div>

        <div class="progress">
            <div class="bar">

            </div>
        </div>

        <div class="sections">
        </div>
        <div class="dir-info">
            <span class="dir-info__name">Root</span>
            <span class="dir-info__count">(52)</span>
            <span class="dir-info__size">12MB</span>
        </div>
        <div class="files-container">

        </div>
    </div>
</div>

<script src="../assets/js/jquery.js" type="module"></script>
<script src="../assets/js/window.js" type="module"></script>
<script src="renderer.js" type="module"></script>
</body>
</html>