<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Explorer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="--theme-darkest">

<div class="header --show-menu">
    <div class="dir-path-container">
        <div class="dir-path">
        </div>
    </div>
    <div class="header__drag_area">
    </div>

<!--    <div class="files__global-index">-->
<!--        <span class="files__global-index__name">Indexing</span>-->
<!--        38%-->
<!--    </div>-->
</div>

<div class="window">
    <div class="content">
        <div class="background"></div>
        <div class="loading">
            <span>loading...</span>
        </div>

        <div class="progress">
            <div class="bar">

            </div>
        </div>

        <div class="directories-container --adaptive-grid" data-width="225" data-margin="2">
        </div>

        <div class="files-container --adaptive-grid" data-width="150" data-margin="2">

        </div>
    </div>
</div>

<script src="../assets/js/jquery.js" type="module"></script>
<script src="../assets/js/hotkeys.min.js" type="module"></script>
<script src="renderer.js" type="module"></script>
</body>
</html>