<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Explorer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="background">
    <div class="back__circle c1"></div>
    <div class="back__circle c2"></div>
    <div class="back__circle c3"></div>
</div>
<div class="menu">
    <div class="menu__button js-index-files">
        index
    </div>
    <div class="menu__split"></div>
    <div class="menu__button js-puzzle">
        puzzle
    </div>
    <div class="menu__split"></div>
    <div class="menu__button js-organize-dir">
        organize
    </div>
</div>
<div class="sections">
</div>
<div class="files-container">

</div>

<script src="renderer.js" type="module"></script>
</body>
</html>