body {
    background: black;
}

.files-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.files__item {
    width: calc(10% - 4px);
    aspect-ratio: 1 / 1;
    margin: 2px;
    display: flex;
    flex-direction: row;
    cursor: var(--cursor-pointer);
    position: relative;
    border-radius: var(--border-radius-m);
    box-sizing: border-box;
}
.files-container.selectMode .files__item {
    /*background: #468ad87d;*/
}
.files-container.selectMode .files__item.selected {
    /*border: 2px solid #468ad87d;*/
}
.files-container.selectMode .files__item-img {
    width: 70%;
    height: 70%;
    margin: 15%;
    opacity: 0.8;
}
.files-container.selectMode .files__item.selected .files__item-img {
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 1;
}
.files__item.pointer {
    outline: 2px solid #ffffff;
    /*opacity: 1;*/
}
.files__item:focus {
    outline: none;
}
.files__item.directory {
    min-height: 100px;
    justify-content: flex-end;
    background: #add1db;
}

.files__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-m);
    transition: all 0.5s;
}

.files__item--preview {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 0 20px 10px #00000085;
    border-radius: var(--border-radius-m);
    transition: width 500ms cubic-bezier(0, 0, 0.2, 1), height 500ms cubic-bezier(0, 0, 0.2, 1),
        left 500ms cubic-bezier(0, 0, 0.2, 1), transform 500ms cubic-bezier(0, 0, 0.2, 1);
}
.files__item--preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-m);
}
.files__item.pointer .files__item--preview {
    border: 2px solid #ffffff;
    border-radius: var(--border-radius-m);
    box-sizing: border-box;
}




.sections {
    /*max-height: 20px;*/
    overflow: hidden;
    transition: max-height 1s ease-out;
}
.sections:hover {
    /*max-height: 3000px;*/
    transition: max-height 1s ease-out;
}
.section {
    display: flex;
    color: var(--text-color);
    width: 100%;
    min-width: 206px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.section__item {
    margin: 3px;
    min-width: fit-content;
}
.section__item:hover {
    color: var(--text-color-accent);
}

.section__item-inner {
    padding: 0 11px 3px;
    background-color: rgb(0, 0, 0, 0.13);
    border-radius: var(--border-radius-s);
    cursor: var(--cursor-pointer);
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.section__item-inner.active {
    background-color: #468ad87d;
    border: 2px solid #7faee570;
    color: var(--text-color-accent);
}
.section__item-inner.pointer {
    border: 2px solid white;
    color: var(--text-color-accent);
}


.background.pause .back__circle {
    /*animation-play-state: paused;*/
}

.dir-info {
    color: var(--text-color);
    font-size: 1.5em;
    margin: 5px 0;
}
.dir-info__name {
    font-size: 2em;
    color: var(--text-color-accent);
    margin-right: 10px;
}
.dir-info__count {

}
.dir-info__size {

}



/*** DIR PATH HEADER ***/

.dir-path {
    justify-content: center;
}

.dir-path-container {
    order: 40;
    margin: 4px 6px;
    width: 40%;
}

.header__title, .header__drag_area {
    width: 25%;
}

@media screen and (max-width: 1200px) {
    .header__title {
        width: 40%;
    }

    .header__drag_area {
        display: none;
    }

    .dir-path-container {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .header {
        flex-wrap: wrap !important;
        height: 80px !important;
    }

    .header__title {
        width: auto;
        max-width: calc(100% - 240px);
    }

    .header__drag_area {
        display: none;
    }

    .dir-path-container {
        order: 200;
        width: 100%;
        max-width: none;
    }

    .dir-path {
        justify-content: flex-start;
    }
}