body {
    background: #2c2c2c;
    font-family: system-ui;

    --border-radius-l: 0;
    --border-radius-m: 0;
    --border-radius-s: 0;
    --cursor-pointer: pointer;
}
body.hide-cursor {
    cursor: none !important;
    --cursor-pointer: none;
}

body.border-rounded {
    --border-radius-l: 10px;
    --border-radius-m: 6px;
    --border-radius-s: 4px;
}

.files-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.files__item {
    width: calc(10% - 4px);
    aspect-ratio: 1 / 1;
    margin: 2px;
    display: flex;
    flex-direction: row;
    cursor: var(--cursor-pointer);
    position: relative;
    border-radius: var(--border-radius-m);
    box-sizing: border-box;
}
.files-container.selectMode .files__item {
    /*background: #468ad87d;*/
}
.files-container.selectMode .files__item.selected {
    /*border: 2px solid #468ad87d;*/
}
.files-container.selectMode .files__item-img {
    width: 70%;
    height: 70%;
    margin: 15%;
    opacity: 0.8;
}
.files-container.selectMode .files__item.selected .files__item-img {
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 1;
}
.files__item.pointer {
    border: 2px solid #ffffff;
    /*opacity: 1;*/
}
.files__item:focus {
    outline: none;
}
.files__item.directory {
    min-height: 100px;
    justify-content: flex-end;
    background: #add1db;
}

.files__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-m);
    transition: all 0.5s;
}

.files__item--preview {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 0 20px 10px #00000085;
    border-radius: var(--border-radius-m);
    transition: width 500ms cubic-bezier(0, 0, 0.2, 1), height 500ms cubic-bezier(0, 0, 0.2, 1),
        left 500ms cubic-bezier(0, 0, 0.2, 1), transform 500ms cubic-bezier(0, 0, 0.2, 1);
}
.files__item--preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-m);
}
.files__item.pointer .files__item--preview {
    border: 2px solid #ffffff;
    border-radius: var(--border-radius-m);
    box-sizing: border-box;
}


.menu {
    display: flex;
    box-shadow: 0 0 20px 10px #00000082;
    margin: -8px -8px 20px;
    background: #00000026;
}

.menu__button {
    color: white;
    padding: 2px 12px 5px;
    border-radius: var(--border-radius-s);
    cursor: var(--cursor-pointer);
}

.menu__button:hover {
    /*background: #ffffff52;*/
}
.menu__split {
    background: #ffffff52;
    width: 2px;
    border-radius: var(--border-radius-s);
    margin: 7px 0;
}



.sections {
    /*max-height: 20px;*/
    overflow: hidden;
    transition: max-height 1s ease-out;
}
.sections:hover {
    /*max-height: 3000px;*/
    transition: max-height 1s ease-out;
}
.section {
    display: flex;
    color: white;
    width: 100%;
    min-width: 206px;
    margin-bottom: 10px;

    flex-wrap: wrap;
}
.section__item {
    margin: 3px;
    min-width: fit-content;
}

.section__item-inner {
    padding: 0 11px 3px;
    background-color: rgb(0, 0, 0, 0.13);
    border-radius: var(--border-radius-s);
    cursor: var(--cursor-pointer);
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.section__item-inner.active {
    background-color: #468ad87d;
    border: 2px solid #7faee570;
}
.section__item-inner.pointer {
    border: 2px solid white;
}

html ::-webkit-scrollbar {
    width: 0;
    height: 0;
}

html {
    user-select: none;
}

.scrollbar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 28px;
}
.scrollbar__line {
    position: absolute;
    height: calc(100% - 20px);
    width: 8px;
    margin: 10px;
    transition: all 500ms;
}
.scrollbar:hover .scrollbar__line {
    margin: 10px 5px;
    width: 18px;
}

.scrollbar__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border-radius: var(--border-radius-l);
    box-shadow: 0 0 20px 10px #00000085;
    opacity: 0;
    transition: opacity 500ms;
    cursor: var(--cursor-pointer);
    background: rgba(128, 178, 158, 0.63);
    backdrop-filter: blur(18px);
}

.scrollbar:hover .scrollbar__bar {
    opacity: 1;
}

.background {
    z-index: -1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #2c2c2c;
    filter: blur(200px);
    isolation: isolate;
}

.back__circle {
    position: absolute;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    mix-blend-mode: screen;
}
.back__circle.c1 {
    background: #345c4b;
    top: -709px; left: -469px;
    animation: c1-move 85s ease-in-out infinite
}
.back__circle.c2 {
    background: #34505c;
    top: 353px; left: 500px;
    animation: c2-move 66s ease-in-out infinite
}
.back__circle.c3 {
    background: #41345c;
    top: -700px; left: 800px;
    animation: c3-move 55s ease-in-out infinite
}

.background.pause .back__circle {
    animation-play-state: paused;
}

@keyframes c1-move {
    0% { top: -709px; left: -469px; }
    50% { top: 600px; left: 600px; }
    100% { top: -709px; left: -469px; }
}
@keyframes c2-move {
    0% { top: 353px; left: 500px; }
    50% { top: 353px; left: -397px; }
    100% { top: 353px; left: 500px; }
}

@keyframes c3-move {
    0% { top: -700px; left: 800px; }
    50% { top: 500px; left: 1000px; }
    100% { top: -700px; left: 800px; }
}