
/*** WINDOW ***/

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

.window {
    position: relative;
    width: 100%;
    height: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 8px;
    overflow: scroll;
    box-sizing: border-box;
}

.background {
    z-index: -1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}


/*** HEADER ***/

.header {
    width: 100%;
    height: 40px;
    background: rgb(62 77 62 / 79%);
    z-index: 1000;
    display: flex;
    flex-wrap: nowrap;
}

.header > div {
    height: 40px;
}

.header__icon {
    width: 44px;
    height: 40px;
    padding: 12px 14px;
    cursor: pointer;
    box-sizing: border-box;
    order: 100;
    stroke: var(--text-color);
}

.header__icon.--first {
    margin-left: auto;
}

.header__icon:hover {
    background: #fff1;
    stroke: var(--text-color-accent);
}
.header__icon:active {
    background: #fff2;
}

.header__icon.--close:hover {
    background: #ff1a1a;
}

.header__close {
    /*background-image: url('../icons/close.svg');*/
}

.header__logo {
    width: 40px;
    height: 40px;
    padding: 7px;
    cursor: pointer;
    box-sizing: border-box;
    order: 1;
}

.header__logo img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.header__drag_area {
    flex-grow: 1;
    height: 100%;
    -webkit-app-region: drag;
    order: 70;
}

.header__menu {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    order: 10;
}

.header__menu-small {
    width: 40px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    box-sizing: border-box;
    stroke: var(--text-color);
}

.header__menu-small:hover {
    stroke: var(--text-color-accent);
    background: #fff1;
}
.header__menu-small.--active {
    stroke: var(--text-color-accent);
    background: #fff2;
}

.header__title {
    color: var(--text-color);
    line-height: 40px;
    padding: 0 12px;
    -webkit-app-region: drag;
    order: 20;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*** SETTINGS ***/

body.--settings .header {
	background: #333;
}
body.--settings .header:after {
	content: "";
	position: absolute;
	width: calc(100% - 14px);
	height: 1px;
	bottom: 0;
	left: 7px;
	background: #5c5c5c;
}

body.--settings .background {
	background: #333;
}

/*** THEMES ***/

.header {
    background: linear-gradient(313deg, #214432, #302d57);
}
.background {
    background: linear-gradient(313deg, #152b20, #18162b);
}

body.--theme-green .header {
    background: linear-gradient(313deg, #254220, #452334);
}
body.--theme-green .background {
    background: linear-gradient(313deg, #152713, #1f1017);
}

body.--theme-red .header {
	background: linear-gradient(89deg, #1f2948, #3d2347)
}
body.--theme-red .background {
	background: linear-gradient(90deg, #0e1220, #231428)
}

body.--theme-dark .header {
    background-image: linear-gradient(237deg, #122b20, #201e39);
}
body.--theme-dark .background {
    background-image: linear-gradient(225deg, #0c1915, #120f1e);
}
