<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Search Copies</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../css/tools.css">
</head>
<body>

<div class="background red">
    <div class="back-black"></div>
</div>

<div class="progress blue">
    <div class="bar">

    </div>
</div>



<div class="container">
</div>

<script src="renderer.js" type="module"></script>
</body>
</html>