<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Frame Mode</title>
    <link rel="stylesheet" href="../assets/css/window.css">
    <link rel="stylesheet" href="../assets/css/tools.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
</div>

<div class="overflow">
    <div class="head">
        <div class="head-drag"></div>
        <div class="head-buttons"></div>
    </div>
    <div class="body-drag"></div>
</div>

<script src="../assets/js/jquery.js" type="module"></script>
<script src="../assets/js/window.js" type="module"></script>
<script src="renderer.js" type="module"></script>
</body>
</html>