<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Manga Mode</title>
    <link rel="stylesheet" href="../assets/css/window.css">
    <link rel="stylesheet" href="../assets/css/tools.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="--theme-green">

<div class="header"></div>

<div class="window">
    <div class="content">
        <div class="background"></div>

        <div class="manga-container">

        </div>

    </div>
</div>

<script src="../assets/js/jquery.js" type="module"></script>
<script src="../assets/js/window.js" type="module"></script>
<script src="renderer.js" type="module"></script>
</body>
</html>